/**************************** CSS ************************************/
@font-face{
    font-family: "Bebas";
    src: url("../font/BebasNeue.otf"); /* le ../ permet de revenir à
la racine et ensuite fonts/ pour rentrer dans le dossier des typos */
}
body{
    color: #ffffff;
    background: url(../img/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
header {
    height: 120px;
}

.compteur{
    position: absolute;
    top:0;
    right:0;
}

#content{
    height: auto;
}
.btnWish{
    font-size:2em;
    padding: 1px 15px;
    border: 2px solid #ffffff;
    background-color: rgba(255,255,255,0.46);
    color: #ffffff;
    margin-left: 15px;
    text-transform: uppercase;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.title1{
    color: #ffffff;
    font-size: 5em;
    font-family: Bebas;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 2s ease-in-out 0s;
}
.title1Display{
    color: #ffffff;
    font-size: 5em;
    font-family: Bebas;
    margin-bottom: 50px;
    opacity: 1;
}
.title2{
    margin-bottom: 30px;
}
.inputWish{
    font-size: 2em;
    border-bottom: 3px solid #ffffff;
    background: none;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    margin-bottom: 30px;
    min-width: 400px;
}